<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup 
			name="userSettings" 
			type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section 
				name="WhatsappAutomation.Settings" 
				type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
				allowExeDefinition="MachineToLocalUser" 
				requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<WhatsappAutomation.Settings>
			<setting name="enableTooltip" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="programTheme" serializeAs="String">
				<value>LIGHT</value>
			</setting>
			<setting name="programAccentColor" serializeAs="String">
				<value>Pink100</value>
			</setting>
			<setting name="programPirmaryColor1" serializeAs="String">
				<value>Indigo500</value>
			</setting>
			<setting name="programPirmaryColor2" serializeAs="String">
				<value>Indigo700</value>
			</setting>
			<setting name="programPirmaryColor3" serializeAs="String">
				<value>Indigo100</value>
			</setting>
			<setting name="chromeOptions" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="txtFile" serializeAs="String">
				<value>VeliBilgileri.txt</value>
			</setting>
			<setting name="usedSchoolNumber" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="studentImageFolder" serializeAs="String">
				<value>LÜTFEN SEÇİN</value>
			</setting>
			<setting name="startNewChat" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="processDelay" serializeAs="String">
				<value>1000</value>
			</setting>
		</WhatsappAutomation.Settings>
	</userSettings>
</configuration>